.wrapper {
  height: 300px;
  width: 250px;
  border-radius: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(144, 144, 144, 0.2);
  box-shadow: 0px 4px 7px 6px rgba(0, 0, 0, 0.1);
  background: rgb(244, 244, 244);
  position: absolute;
  top: 54px;
  left: 284px;
  display: flex;
  flex-direction: column;
  /* padding: 15px 0 15px 30px; */
}
.btn{
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10;
  padding: 6px 30px;
}
.btn{
  margin-top: 6px;
}
.btn:hover{
  background-color: #C9C9C9;
  border-radius: 5px;
}
.name{
  font-size: 20px;
  margin-left: 15px;
  line-height: 29px;
}
.forward{
  margin-left: 84px;
}