.wrapper {
  width: 228px;
  height: 317px;
  box-sizing: border-box;
  border: 1px solid rgba(144, 144, 144, 0.2);
  border-radius: 30px;
  box-shadow: 0px 4px 7px 6px rgba(0, 0, 0, 0.1);
  background: rgb(244, 244, 244);
  position: absolute;
}
