.inp{
    background-image: url('../../../../assets/img/Search.png');
    background-repeat: no-repeat;
    width: 850px;
    padding: 14px 68px;
    border-radius: 30px;
    background-color: #D9D9D9;
    background-position: 30px 8px;
    border: none;
}