Указываем box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
/*Only text*/
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
img {
  max-width: 100%;
  display: block;
}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.swiper{
  max-width: 1074px;
  /* 1074 */
  /* position: relative; */
  /* margin: 0; */
}
.swiper-slide {
  width: 300px; /* Задайте нужную ширину */
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #000;
  background-color: #D9D9D9;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  width: 36px;
  height: 36px;
}
.swiper .swiper-button-disabled{
  display: none;
}
.swiper .swiper-button-prev{

}
.swiper .swiper-button-next{
  background-image: url('./assets/img/Chevron Right.png');
  background-repeat: no-repeat;
  background-position: 9px 7px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #ddd;
}