.wrapper {
  width: 632px;
  height: 182px;
  border: 1px solid rgba(144, 144, 144, 0.2);
  border-radius: 30px;
  box-shadow: 0px 4px 7px 6px rgba(83, 0, 141, 0.2),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(244, 244, 244);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-12%, -50%);
}
.title {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-top: 25px;
}
.wrapper button {
  border: none;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px 90px;
  cursor: pointer;
}
.btnBlock{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 41px;
}
.logout {
  background-color: rgb(83, 0, 141);
  color: #fff;
}
.cancel {
  background: rgb(217, 217, 217);
  color: #000;
}
