.files {
    display: flex;
    padding: 13px 15px;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    align-items: center;
  }
  .files:hover{
    background-color: #ccc;
    cursor: pointer;
  }
  .fileRow {
    position: relative;
  }
  .fileRow span {
    width: 183px;
    display: flex;
    align-items: center;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .fileRowDeleted {
    display: flex;
  }
  .fileRowDeleted span {
    width: 175px;
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  .fileRowDeleted span:nth-child(1) {
    margin-left: 103px;
  }
  .fileRowDeleted span:nth-child(2) {
    margin-left: 98px;
  }
  
  .fileRow:nth-child(2) {
    margin-left: 20px;
  }
  .fileRow:nth-child(3) {
    margin-left: 34px;
  }
  .fileRow:nth-child(4) {
    margin-left: -10px;
  }
  .size {
    /* margin-left: 30px; */
  }
  .fileImg {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  .fileRow {
    display: flex;
  }
  .fileRow:last-child {
    padding-left: 6px;
  }
  .moreBtn {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .folderName {
    display: flex;
    text-align: center;
    align-items: center;
    width: 141px;
    padding: 8px 34px;
    border-radius: 30px;
  }
  .folderName img {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    margin-left: 28px;
  }
  .folderName span {
    font-size: 14px;
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    overflow: hidden; /* Скрываем текст, который не помещается */
    text-overflow: ellipsis; /* Добавляем троеточие в конце */
  }
  .folderNameText {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
  }
  .checkbox {
    position: absolute;
    left: -45px;
    top: 5px;
    width: 23px;
    height: 23px;
    box-sizing: border-box;
    border: 2px solid rgb(217, 217, 217);
  }
  